.page-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding-block: 56px;
}
.page-layout.sm {
  max-width: 640px;
}
.page-layout.md {
  max-width: 1024px;
}
.page-layout.lg {
  max-width: 2048px;
}